<script>
	import { continents } from '../stores.js';

  import Modal from "../components/Modal.svelte";
  import Input from "../components/Input.svelte";
  import Card from "../components/Card.svelte";
  import TestArray from "../components/TestArray.svelte";

  let redModal = false;
  let cardModal = false;

  let test = "";

//$: console.log(continents)
</script>


<div class="content">
  <Modal bind:show={cardModal}>
    <div style="background-color: orange" class="cardModal-outer">
      <div class="cardModal">
        <div class="cardModal-header">
          <h1>De utvalda korten</h1>
        </div>
        <div class="cardModal-content">
          <pre>Läs de sex slumpvis utvalda korten framför dig på skärmen.</pre>
        </div>
        <div class="cardModal-action">
          <div class="spacer" />
          <button type="button" class="v-btn" on:click={() => cardModal = false}>
            <span> Stäng </span>
          </button>
        </div>
      </div>
    </div>
  </Modal>
  <svg viewBox="0 0 500 200">
    <g transform="rotate(-45, {(250/4)}, {(250/4*3 - 50)})" class="{redModal ? 'deactivated' : 'svgBtn'}">
      <rect x={250/4-55/2} y={250/4*3-100/2 - 50} rx="7.5" ry="7.5" width="55" height="100"
            style="fill:red;stroke:black;stroke-width:5;" on:click={() => {redModal = true}} />
    </g>
    <g transform="rotate(-30, {(250/2)}, {(100)})">
      <rect x={125-55/2 +5} y={125-100/2 + 15 - 50} rx="7.5" ry="7.5" width="55" height="100"
            style="fill:orange;stroke:black;stroke-width:5;" on:click={() => {cardModal = true}} />
    </g>
    <g transform="rotate({-45/4}, {(250/4*3 - 50)}, {(125 + 15 - 50)})">
      <rect x={250/4*3-55/2 + 20} y={250/4-100/2 + 10} rx="7.5" ry="7.5" width="55" height="100"
            style="fill:yellow;stroke:black;stroke-width:5;" on:click={() => {cardModal = true}} />
    </g>
    <g transform="rotate({45/4}, {(250/4*5 + 50)}, {(250/4 + 50 - 50)})">
      <rect x={250/4*5-55/2 - 20} y={250/4-100/2 + 10} rx="7.5" ry="7.5" width="55" height="100"
            style="fill:green;stroke:black;stroke-width:5;" on:click={() => {cardModal = true}} />
    </g>
    <g transform="rotate(30, {(250/4*6)}, {(125 + 15 - 50)})">
      <rect x={250/4*6-55/2 -5} y={125-100/2 + 15 - 50} rx="7.5" ry="7.5" width="55" height="100"
            style="fill:blue;stroke:black;stroke-width:5;" on:click={() => {cardModal = true}} />
    </g>
    <g transform="rotate(45, {(250/4*7)}, {(250/4*3 - 50)})">
      <rect x={250/4*7-55/2} y={250/4*3-100/2 - 50} rx="7.5" ry="7.5" width="55" height="100"
            style="fill:purple;stroke:black;stroke-width:5;" on:click={() => {redModal = true}} />
    </g>
  </svg>
  <table class="elevate">
    <thead>
      <tr>
        <th style="width: 10%; min-width: 10%;"><span></span></th>
        <th style="width: 40%; min-width: 40%;"><span>Mina dialogkort</span></th>
        <th style="width: 50%; min-width: 50%;"><span>Mina associationer, tankar, känslor mm</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="center"><Card color="red" height="90"/></td>
        <td >Jag vill alltid säga min sanning lugnt och klart.</td>
        <td style="padding: 0 1em;"><Input min_height="80px" multiline/></td></tr><tr class="">
        <td class="center"><Card color="orange" height="90"/></td>
        <td>Jag påminner mig om vilken frid, som det finns i stillheten.</td>
        <td style="padding: 0 1em;"><Input min_height="80px" multiline/></td></tr><tr class="">
        <td class="center"><Card color="yellow" height="90"/></td>
        <td>Söker jag ro, frid och frihet, där det finns så mycket av positivt att hämta?</td>
        <td style="padding: 0 1em;"><Input min_height="80px" multiline/></td></tr><tr class="">
        <td class="center"><Card color="green" height="90"/></td>
        <td>Jag undviker aggressiva och angripande personer, så att jag inte lockas in i meningslösa dispyter.</td>
        <td style="padding: 0 1em;"><Input min_height="80px" multiline/></td></tr><tr class="">
        <td class="center"><Card color="blue" height="90"/></td>
        <td>Finns bakom varje önskemål djupast en förhoppning om välbefinnande?</td>
        <td style="padding: 0 1em;"><Input min_height="80px" multiline/></td></tr><tr class="">
        <td class="center"><Card color="purple" height="90"/></td>
        <td>Tar jag vara på min valfrihet?</td>
        <td style="padding: 0 1em;"><Input min_height="80px" multiline/></td></tr><tr class="">
      </tr>
    </tbody>
  </table>
  <h1 class="header">Frågor</h1>
  <pre>Ställ nu två just idag viktiga och aktuella frågor för dig.

Försök sen kombinera dina två viktiga frågor i en slutlig fråga. Det brukar vara lätt att göra.
Annars kan du välja den av de två viktiga frågorna, som du vill ha svar på idag.</pre>
  <Input lable="Some question Tittle" bind:value={test}/>
  <pre>{test}</pre>
  <button on:click={() => {continents.get("https://jsonplaceholder.typicode.com/albums")}}>Get albums instead</button>
  <TestArray bind:elements={$continents}/>
</div>
           <!--
            v-on:click="openModal(items.card_types['existential_ct01'].type)" v-bind:class="{ svgBtn: !picked.includes(items.card_types['existential_ct01'].color), deactivated: picked.includes(items.card_types['existential_ct01'].color) }">
          <rect :x="250/4-55/2" :y="250/4*3-100/2 - 50" rx="7.5" ry="7.5" width="55" height="100"
            :style="'fill:' + items.card_types['existential_ct01'].color + ';stroke:black;stroke-width:5;'" />
        </g>
        <g :transform="'rotate(' + (-30) + ', ' + (125 +5) + ', ' + (125 + 15 - 50) + ')'"
            v-on:click="openModal(items.card_types['existential_ct02'].type)" v-bind:class="{ svgBtn: !picked.includes(items.card_types['existential_ct02'].color), deactivated: picked.includes(items.card_types['existential_ct02'].color) }">

          <rect :x="125-55/2 +5" :y="125-100/2 + 15 - 50" rx="7.5" ry="7.5" width="55" height="100"
            :style="'fill:' + items.card_types['existential_ct02'].color + ';stroke:black;stroke-width:5;'" />
        </g>
        <g :transform="'rotate(' + (-45/4) + ', ' + (250/4*3 + 20) + ', ' + (250/4 + 50 - 50) + ')'"
            v-on:click="openModal(items.card_types['existential_ct03'].type)" v-bind:class="{ svgBtn: !picked.includes(items.card_types['existential_ct03'].color), deactivated: picked.includes(items.card_types['existential_ct03'].color) }">

          <rect :x="250/4*3-55/2 + 20" :y="250/4-100/2 + 50 - 50" rx="7.5" ry="7.5" width="55" height="100"
            :style="'fill:' + items.card_types['existential_ct03'].color + ';stroke:black;stroke-width:5;'" />
        </g>
        <g :transform="'rotate(' + (45/4) + ', ' + (250/4*5 - 20) + ', ' + (250/4 + 50 - 50) + ')'"
            v-on:click="openModal(items.card_types['existential_ct04'].type)" v-bind:class="{ svgBtn: !picked.includes(items.card_types['existential_ct04'].color), deactivated: picked.includes(items.card_types['existential_ct04'].color) }">

          <rect :x="250/4*5-55/2 - 20" :y="250/4-100/2 + 50 - 50" rx="7.5" ry="7.5" width="55" height="100"
            :style="'fill:' + items.card_types['existential_ct04'].color + ';stroke:black;stroke-width:5;'" />
        </g>
        <g :transform="'rotate(' + (45/3*2 -5) + ', ' + (250/4*6) + ', ' + (250/4*2 + 15 - 50) + ')'"
            v-on:click="openModal(items.card_types['existential_ct05'].type)" v-bind:class="{ svgBtn: !picked.includes(items.card_types['existential_ct05'].color), deactivated: picked.includes(items.card_types['existential_ct05'].color) }">

          <rect :x="250/4*6-55/2 -5" :y="250/4*2-100/2 + 15 - 50" rx="7.5" ry="7.5" width="55" height="100"
            :style="'fill:' + items.card_types['existential_ct05'].color + ';stroke:black;stroke-width:5;'" />
        </g>
        <g :transform="'rotate(' + (45) + ', ' + (250/4*7) + ', ' + (250/4*3 - 50) + ')'"
            v-on:click="openModal(items.card_types['existential_ct06'].type)" v-bind:class="{ svgBtn: !picked.includes(items.card_types['existential_ct06'].color), deactivated: picked.includes(items.card_types['existential_ct06'].color) }">

          <rect :x="250/4*7-55/2" :y="250/4*3-100/2 - 50" rx="7.5" ry="7.5" width="55" height="100"
            :style="'fill:' + items.card_types['existential_ct06'].color + ';stroke:black;stroke-width:5;'" />
        </g>
            -->

<style>
.content {
	position: relative;
	max-width: 1270px;
	margin-left: auto;
	margin-right: auto;
  padding-top: 1em;
}

.deactivated {
 opacity: .1;
}
.svgBtn {
 opacity: .8;
}
.svgBtn:hover {
  cursor: pointer;
  opacity: 1;
}
.svgBtn:hover rect{
  stroke: lime !important ;
}
.cardModal-outer {
  max-width: 350px;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: .3em;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
  transition: .3s cubic-bezier(.25,.8,.25,1);
}
.cardModal {
  border-radius: inherit;
  background-color: #fff;
}
.cardModal-header {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: #eee;
  padding-top: .4em;
  padding-bottom: .5em;
}
.cardModal-header > h1 {
  margin: 0;
  font-weight: normal;
}
.cardModal-content {
  height: 100%;
  min-height: 16em;
}
.cardModal-action {
	align-items: center;
	display: flex;
	padding: 8px;
}

.v-btn {
	align-items: center;
	border-radius: 4px;
	display: inline-flex;
	flex: 0 0 auto;
	font-weight: 500;
	letter-spacing: .0892857143em;
	justify-content: center;
	outline: 0;
	position: relative;
	text-decoration: none;
	text-indent: .0892857143em;
	text-transform: uppercase;
	transition-duration: .28s;
	transition-property: box-shadow,transform,opacity;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
  color: #ff9800 !important;
  caret-color: #ff9800 !important;
  border-style: none;
  background-color: transparent;
}
.v-btn:hover {
  background-color: rgba(255, 152, 00, .05);
}

.elevate {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12) !important;
}
.spacer {
	flex-grow: 1 !important;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

.center {
  text-align: center !important;
}

.header {
  text-align: left;
  font-weight: normal;
}
</style>
