<script>
  import { Link } from "svelte-routing";

  import Box from "../components/Box.svelte";
  import CardStack from "../components/cardStack.svelte";
  import Dropdown from "../components/Dropdown.svelte";
  import Menu from "../components/Menu.svelte";
  import SubMenu from "../components/SubMenu.svelte";
  import MenuItem from "../components/MenuItem.svelte";

	let devplatform = [
		{ name: "Svelte", website: "svelte.dev", priv: true, activ: true },
		{ name: "Vue", website: "vuejs.org", priv: false, activ: true },
		{ name: "Vuetify", website: "vuetifyjs.com/en", priv: false, activ: true },
		{ name: "Go", website: "golang.org", priv: false, activ: true },
		{ name: "Gin", website: "github.com/gin-gonic/gin", priv: false, activ: true },
		{ name: "GitLab", website: "about.gitlab.com", priv: false, activ: true }
	];

	let inspiration = [
		{ name: "Rob Pike", website: "en.wikipedia.org/wiki/Rob_Pike", priv: false, activ: true },
		{ name: "Suckless", website: "suckless.org", priv: false, activ: true }
	];

	let projects = [
		{ name: "NoLimit", website: "nolimit-app.biz", priv: false, activ: true },
		{ name: "PQM Systems", website: "pqmsystems.biz", priv: false, activ: true },
		{ name: "Visdomsdialog", website: "visdomsdialog.one", priv: false, activ: true }
	];
 
 </script>

  <div class="content flex">
   <div class="item">
       <Box>
	 	   <h3>Welcome</h3>
	 	   <pre>Estimako.as, founded in 2016. </pre>
<pre>We can develop and host projects for you. To give you an idea about how we think, I selected a quotation from Rob Pike:  
</pre>
<pre>“Data dominates. If you’ve chosen the right data structures and organized things well, the algorithms will almost always be self-evident. Data structures, not algorithms, are central to programming.”

</pre>
     </Box>
    </div>
     <div class="new_line"/>
    <div class="item">
      <Box>
        <h3>Development</h3>
        <pre>The projects that we developed in the last couple of years are implemented with Vue or Svelte. The idea is that we select the tools that we think is best for the case. 
The main tools in our Toolbox are listed here: </pre>

   <div class="new_line"/>

    <div class="item">
        
  <table class="elevate">
    <thead>
      <tr>
        <th style="width: 40%;"><span>Name</span></th>
        <th style="width: 60%;"><span>Website</span></th>
      </tr>
    </thead>
    <tbody>
      {#each devplatform as project}
      <tr>
        <td>{project.name}</td>
        <td><a href="https://{project.website}">{project.website}</a></td>
      </tr>
      {/each}
    </tbody>
  </table>
    </div>
      </Box>
    </div>

   <div class="new_line"/>

     <div class="item">
     <Box>
        <h3>Inspiration</h3>
        <pre>To see where we get some of our inspiration, have a look at these sites. </pre>

   <div class="new_line"/>

    <div class="item">
         
  <table class="elevate">
    <thead>
      <tr>
        <th style="width: 40%;"><span>Name</span></th>
        <th style="width: 60%;"><span>Website</span></th>
      </tr>
    </thead>
    <tbody>
      {#each inspiration as project}
      <tr>
        <td>{project.name}</td>
        <td><a href="https://{project.website}">{project.website}</a></td>
      </tr>
      {/each}
    </tbody>
  </table>
    </div>
      </Box>
    </div>

    <div class="new_line"/>
    <div class="item center">
     <Box>
    <h3>Contact information</h3>
        <table class="elevate">
          <thead>
            <tr>
              <th style="width: 40%;"></th>
              <th style="width: 60%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h3>Name:</h3></td>
              <td>Estimako as</td>
            </tr>
            <tr>
              <td><h3>Adress:</h3></td>
             <td><pre class="table_heading">Undelsted terrasse 14 
1387 Asker 
Norway</pre></td>
            </tr>
            <tr>
              <td><h3>Mail:</h3></td>
              <td>estimako.as@gmail.com</td>
            </tr>
            <tr>
              <td><h3>Phone:</h3></td>
              <td>+47 41035153</td>
            </tr>
          </tbody>
        </table>
      </Box>
    </div>
          <div class="new_line" style="padding-top: 1.5em;"/>
  </div>


<style>
  h3 {
    text-align: left;
  }
  hr {
    width: 100%;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
  	display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
		color: rgba(0,0,0,.12);
	}
  .content {
		position: relative;
		max-width: 1270px;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 45%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }

  .table_heading {
  	margin-top: 0em;
  	margin-bottom: 0em;
  	padding: 0em !important;
  }

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

img {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
}

</style>
