<script>
  let open = false;

	function onLoad(node) {
		// the node has been mounted in the DOM
    open = true;

		return {
			destroy() {
				// the node has been removed from the DOM
			}
		};
	}

</script>

{#if !open}
  <a href="#" on:click={() => {open = !open}}>
    <slot name="trigger">
      <div use:onLoad />
    </slot>
  </a>
{:else}
  <div>
    <slot />
  </div>
{/if}

<style>
</style>
