<script>

  let open = false;
</script>

{#if !open}
  <a href="#" on:click={() => {open = !open}}>
    <slot name="trigger"/>
  </a>
{:else}
  <div>
    <slot />
  </div>
{/if}

<style>
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}
.dropdown-base {
  position: relative;
  display: inline-block;
}
.dropdown {
  position: absolute;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
</style>
